
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

       <h1> Student Study Level</h1>
       {{if.standing}}

       <h2>{{.name}} {{.standing}}</h2>>

       {{else}}
       <h1> "...."</h1>>
</body>
</html>
